:host {
    
    .example-section {
        margin: 12px 0;
      }
      
      
    label {
        padding-right: 8px;
        text-align: center;
      }
   form {
       padding: 5em;
       text-align: center;
}
}