<h3><b><i>ABOUT US</i></b></h3>
<p>
<b><i>
Since 
<br>
2015
</i></b>
<br>
<br>
<br>
We are a brunch of people who are extremely passionate about food. we serve food in a homemade style so our customer whould love to have it and they can order and we deleiver you tiffn in a very less time of period.
<br>
<br>
Thankyou
<br>
<br>
<br>
<img src="assets/food.jpg" alt="food photo" width="250px">

</p>
