<mat-toolbar>
  <button 
  (click)="drawer.toggle()"
  mat-icon-button 
  class="example-icon" 
  aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>{{ title }}</span>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened>
    <mat-nav-list>
    <a mat-list-item routerLink="entry" (click)="drawer.toggle()"><mat-icon aria-hidden="false" aria-lable="account_box">account_box</mat-icon>Customer Entry</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="menu" (click)="drawer.toggle()"><mat-icon aria-hidden="false" aria-lable="restaurant">restaurant</mat-icon>menu</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="cart" (click)="drawer.toggle()"><mat-icon aria-hidden="false" aria-lable="shopping_basket">shopping_basket</mat-icon>Cart</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="about" (click)="drawer.toggle()"><mat-icon aria-hidden="false" aria-lable="info">info</mat-icon>About Us</a>
    <mat-divider></mat-divider>
    </mat-nav-list>
    </mat-drawer>
<mat-drawer-content>
  <router-outlet (activate)="changeTitle($event.pageTitle)"></router-outlet>
</mat-drawer-content>
</mat-drawer-container>   