<form [formGroup]="entryGroup" (ngSubmit)="onSubmit($event)">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input 
        [formControl]="nameCtrl"
        matInput placeholder="Ex. Harry Potter">
        <mat-error *ngIf="nameCtrl.hasError('required')">name is reguired.</mat-error>
    </mat-form-field>
<div>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input 
        [formControl]="emailCtrl"
        matInput placeholder="Ex. abc12@gmail.com">
        <mat-error *ngIf="emailCtrl.hasError('required')">email is reguired.</mat-error>
    </mat-form-field>
</div>
<div>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input 
        [formControl]="passwordCtrl"
        matInput placeholder="Ex. xxxxxx">
    <mat-error *ngIf="passwordCtrl.hasError('required')">password is reguired.</mat-error>
    <mat-error *ngIf="passwordCtrl.hasError('maxlength')">password is too long</mat-error>
    <mat-error *ngIf="passwordCtrl.hasError('pattern')">password must only contain digits</mat-error>
</mat-form-field>
</div>
<br>
    <div>
    <button mat-raised-button color ="accent">Sign Up</button>
    </div>
    <br>
    <br>
    <img src="assets/logo.png" alt="logo photo" width="200px">
</form>