<form [formGroup]= "menuGroup"> 
        <mat-form-field appearance="fill">
            <mat-label>Menu</mat-label>
            <mat-select
              [formControl]="menuCtrl">
              <mat-option value="pasta">pasta</mat-option>
              <mat-option value="salad">salad</mat-option>
              <mat-option value="soup">soup</mat-option>
              <mat-option value="chickenrice">chickenrice</mat-option>
              <mat-option value="spaghetti">spaghetti</mat-option>
              <mat-option value="vegetablecurry">vegetablecurry</mat-option>
              <mat-option value="burger">burger</mat-option>
              <mat-option value="grainbowl">grainbowl</mat-option>
              <mat-option value="pizza">pizza</mat-option>
              <mat-option value="pancakes">pancakes</mat-option>
            </mat-select>
            <br>
            <mat-error *ngIf="menuCtrl.hasError('required')">item selection is reguired.</mat-error>
          </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>No. of Tiffins</mat-label>
            <input 
            [formControl]="selecttiffinitemCtrl"
            matInput 
            placeholder="Ex. 1">
            <mat-error *ngIf="selecttiffinitemCtrl.hasError('maximumlength')">please select menu item</mat-error>
        </mat-form-field>   
            <mat-form-field appearance="fill">
                <mat-label>Select Date</mat-label>
                <input [formControl]="selectdateCtrl"
                 matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="selectdateCtrl.hasError('required')">Date is required.</mat-error>
              </mat-form-field>
          <br>
          <br>
          <br>

    <button mat-raised-button color ="accent">Order</button>
</form>